body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
}
#result{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.6;
    font-size: 18px;
    color: black;
}
button{
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: brown;
    border-radius: 5px;
    color: white;
}
#final-winner{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: orange;
}
#restart{
    display: none;
     margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: aqua;
    color: white;
}